{% block name %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div style='background-color: green;'>
{% endblock %}
{% extends 'base.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}
    {% block body %}
    <img src="{{ asset('logo.png') }}" alt="Logo"/>
    {{ form(form)}}
    {% endblock %}
{% block name2 %}
</div>
{% endblock %}